body {
  background: url("https://placehold.co/100x100/FFFFFF/EFEFEF/png?text=46460");
}
header{
  background-color: blue;
  font-size: large;
  text-align:center;
  font-family: 'Poppins', sans-serif;

}

footer{
  background-color: blue;
  font-size: large;
  text-align:center;
  font-family: 'Poppins', sans-serif;
  color: white;

}
